{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
$(document).ready(function() {
    if({{showdialog }}){
       $('#success').modal('show')
    }
    $('#gymnasium').change(function(){
        if($(this).val()==='Annat'){
            $('#gymnasiumAnnat').removeClass('hidden')
        }else{
            $('#gymnasiumAnnat').addClass('hidden')
        }
    });
    $('#school').change(function(){
        if($(this).val()==='Annat'){
            $('#schoolAnnat').removeClass('hidden')
        }else{
            $('#schoolAnnat').addClass('hidden')
        }
    });
    $('#hometown').change(function(){
        if($(this).val()==='Annat'){
            $('#hometownAnnat').removeClass('hidden')
        }else{
            $('#hometownAnnat').addClass('hidden')
        }
    });
});
</script>


<div id="success"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="form-control">
        <p> the save was a success? </p>
        </div>
    </div>
  </div>
</div>



<form id="newMember" action="/add_member/" method="post">
    <div class="form-group">
        <label for="firstName">Förnamn</label>
        <input type="TEXT" name="firstName"  class="form-control" id="firstName" placeholder="Förnamn">
    </div>
    <div class="form-group">
        <label for="lastName">Efternamn</label>
        <input type="TEXT" name="lastName"  class="form-control" id="lastName" placeholder="Efternamn">
    </div>
    <div class="form-group">
        <label for="address">Adress</label>
        <input type="TEXT" name="address" class="form-control" id="address" placeholder="Exempelgata 1 a 2">
    </div>
    <div class="form-group">
        <label for="city">Stad</label>
        <input type="TEXT" name="city" class="form-control" id="city" placeholder="Exempelstad">
    </div>
    <div class="form-group">
        <label for="postcode">Postkod</label>
        <input type="NUMBER" name="postcode" class="form-control" id="postcode" placeholder="06660">
    </div>
    <div class="form-group">
        <label for="email">E-post</label>
        <input type="email" name="email"  class="form-control" id="email" placeholder="Epost">
    </div>
    <div class="form-group">
        <label for="phonenumber">Telefon nummer</label>
        <input type="NUMBER" name="phonenumber" class="form-control" id="phonenumber" placeholder="040 123456">
    </div>

    <div class="form-group">
        <label for="gymnasium">Gymnasium</label>
        <select form="newMember" id="gymnasium" name="gymnasium"  class="form-control">
            {% for i  in gymnasium   %}
            <option> {{ i }} </option>
            {% endfor %}
            <option> Annat </option>
            <input type="TEXT" class="form-control hidden" name="gymnasiumAnnat"  id="gymnasiumAnnat" placeholder="Exempel Gymnasium">
        </select>
    </div>
    <div class="form-group">
        <label for="hometown">Hemstad</label>
        <select form="newMember" id="hometown" class="form-control" name="hometown" >
            {% for i  in hometownList  %}
            <option> {{ i }} </option>
            {% endfor %}
            <option> Annat </option>
            <input type="TEXT" class="form-control hidden" id="hometownAnnat" name="hometownAnnat"  placeholder="Exempel hemstad">
        </select>
    </div>
    <div class="form-group">
        <label for="school">Skola</label>
        <select form="newMember" id="school" class="form-control" name="school">
            {% for i  in schoolList  %}
            <option> {{ i }} </option>
            {% endfor %}
            <option> Annat </option>
            <input type="TEXT" class="form-control hidden" id="schoolAnnat" name="schoolAnnat" placeholder="Exempel skola">
        </select>
    </div>

    <div class="form-group">
        <label for="study">Studieinrikning</label>
        <input type="TEXT" class="form-control" id="study" name="study"  placeholder="Exempel inrikning">
    </div>
    <div class="form-gruop">
        <label for="checkbox">Betatalat medlemsavgift</label>
        <input type="checkbox" id="checkbox" class="form-control" name="Betatalat"></input>
    </div>
    <input type="submit" class="form-control"  value="OK">
    {% csrf_token %}
</form>
{% endblock %}
